# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\lcobo\OneDrive - universidadean.edu.co\EAN - ActividadDocente\DesarrolloDeSoftware\2021-C1\Parqueadero\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
